<h1>loan applay form </h1>

<form [formGroup]="userform" >

  <label for="city" >city</label>
  <input type="text"formControlName="city" placeholder="city name" class="form-control">
  <span *ngIf="userform.get('city')?.invalid && userform.get('city')?.touched " style="color: red;">required</span>
  <span *ngIf="userform.get('city')?.errors?.['minlength']" style="color: red;"> enter atleast 2 charcter</span> <br>

  <label for="pannumber">pannumber</label>
  <input type="text" formControlName="pannumber" placeholder=" pancaard"   class="form-control"><br>
  <div *ngIf="userform.get('pannumber')?.invalid && userform.get('pannumber')?.touched " style="color: red;">enter pannumber</div>  
  <span *ngIf="userform.get('pannumber')?.errors?.['pattern']" style="color: red;"> enter valid pannumberr</span>  <br>
 

  <label>full name</label>
  <input type="text" formControlName="fullname" placeholder=" full name"   class="form-control">
  <span *ngIf="userform.get('fullname')?.invalid && userform.get('fullname')?.touched " style="color: red;">required full name</span>  <br>
  

  <label >email</label>
  <input type="email" formControlName="email" placeholder=" email"     class="form-control">
  <span *ngIf="userform.get('email')?.invalid && userform.get('email')?.touched " style="color: red;"  >enter valid email address</span>
  <span *ngIf="userform.get('email')?.errors?.['pattern']" style="color: red;"></span>
  <br>

  <label for="mobileNumber">Mobile Number</label>  
  <input formControlName="mobileno" type="text"  class="form-control">  
  <span *ngIf="userform.get('mobileno')?.invalid && userform.get('mobileno')?.touched" style="color: red;"  >  
  <div *ngIf="userform.get('email')?.errors?.['required']">Mobile Number is required.</div> 
  <span *ngIf="userform.get('email')?.errors?.['pattern']">Please, Enter 10 digit Mobile Number.</span>   
  </span>
  <button (click)="getotp()">getotp</button>

 
  <button [disabled]="userform.invalid ">submit</button>

</form>

<router-outlet></router-outlet>